In [2]:
import pandas as pd

# Lee el contenido del archivo de texto
with open('archivo_limpio.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()

# Divide cada línea en sus campos usando el separador "|" y maneja campos vacíos
data = [line.strip().split('|') for line in lines]

# Asegúrate de que cada fila tenga la misma cantidad de campos
max_fields = max(len(row) for row in data)
for row in data:
    if len(row) < max_fields:
        row.extend([''] * (max_fields - len(row)))

# Crea un DataFrame con los datos y especifica los nombres de las columnas
df = pd.DataFrame(data, columns=["N.EXP","APELLIDOS Y NOMBRE","DNI","PAIS","SIT","VAL.","ERR.","NC.","VAL","PUNTUACION","BAREMO","PUNTUACION","PUNT. TOTAL","Nº ORDEN","T.","extra"])

#eliminar extra
df.drop('extra', axis=1, inplace=True)
df

,N.EXP,APELLIDOS Y NOMBRE,DNI,PAIS,SIT,VAL.,ERR.,NC.,VAL,PUNTUACION,BAREMO,PUNTUACION,PUNT. TOTAL,Nº ORDEN,T.
0,3535,"ABAD GARCIA, GUACIMARA",*****6148**,ESP,,,,,,"0,0000","5,00","5,6456","5,6456",NO PR,NO
1,787,"ABADIA DOMINGO, SARA",*****6372**,ESP,122,70,8,296,"58,6654","7,51","8,4798","67,1452",1400,NO,
2,2933,"ABADIA MARTINEZ, ATENEA",*****7467**,ESP,104,94,2,218,"43,2063","7,06","7,9717","51,1780",2019,NO,
3,1103,"ABANCES UTRILLA, ELENA",*****2239**,ESP,134,48,18,354,"70,1607","8,28","9,3492","79,5099",927,NO,
4,566,"ABRIL MUÑOZ, SARA",*****4090**,ESP,,,,,"0,0000","6,96","7,8588","7,8588",NO PR,NO,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3846,3651,"ZOZAYA AMBROSIO, LEANDRO MARTÍN",*****0523**,ESP,,70,115,15,95,"18,8284","6,92","7,8136","26,6420",ELIM,NO
3847,1681,"ZUMAQUERO RUIZ, LAURA",*****5190**,ESP,,111,62,27,271,"53,7106","6,96","7,8588","61,5694",1628,NO
3848,22,"ZUMEL CABALLERO, CLAUDIA",*****5160**,ESP,,169,29,2,478,"94,7368","7,20","8,1297","102,8665",57,NO
3849,2131,"ZURDO HERNANDEZ, VERONICA",*****3708**,ESP,,166,33,1,465,"92,1603","8,52","9,6202","101,7805",77,NO
3850,2381,"ZURITA MUÑOZ, NEREA",*****4971**,ESP,,129,69,2,318,"63,0257","8,10","9,1460","72,1717",1217,NO

In [4]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
df

,N.EXP,APELLIDOS Y NOMBRE,DNI,PAIS,SIT,VAL.,ERR.,NC.,VAL,PUNTUACION,BAREMO,PUNTUACION,PUNT. TOTAL,Nº ORDEN,T.
0,3535,"ABAD GARCIA, GUACIMARA",*****6148**,ESP,,,,,,"0,0000","5,00","5,6456","5,6456",NO PR,NO
1,787,"ABADIA DOMINGO, SARA",*****6372**,ESP,122,70,8,296,"58,6654","7,51","8,4798","67,1452",1400,NO,
2,2933,"ABADIA MARTINEZ, ATENEA",*****7467**,ESP,104,94,2,218,"43,2063","7,06","7,9717","51,1780",2019,NO,
3,1103,"ABANCES UTRILLA, ELENA",*****2239**,ESP,134,48,18,354,"70,1607","8,28","9,3492","79,5099",927,NO,
4,566,"ABRIL MUÑOZ, SARA",*****4090**,ESP,,,,,"0,0000","6,96","7,8588","7,8588",NO PR,NO,
5,273,"ACCINO MUÑOZ, MARIA DEL CARMEN",*****2745**,ESP,137,62,1,349,"69,1697","8,17","9,2250","78,3947",975,NO,
6,2449,"ACEA MENDEZ, MARIA",*****9073**,ESP,122,68,10,298,"59,0618","7,79","8,7959","67,8577",1372,NO,
7,1635,"ACEBES CABRERA, PATRICIA",*****5231**,ESP,156,39,5,429,"85,0253","7,45","8,4120","93,4373",328,NO,
8,2824,"ACEDO BLANCO, MANUEL",*****6645**,ESP,,,,,"0,0000","5,00","5,6456","5,6456",NO PR,NO,
9,3368,"ACEITUNO SOLIS, JAVIER",*****5125**,ESP,127,58,15,323,"64,0167","6,53","7,3732","71,3899",1249,NO,
10,262,"ACOSTA CRESPO, MARIA",*****8294**,ESP,80,120,0,120,"23,7833","7,57","8,5475","32,3308",2810,NO,
11,2190,"ACOSTA GALLEGO, ANA",*****7236**,ESP,106,80,14,238,"47,1702","8,01","9,0443","56,2145",1846,NO,
12,2624,"ACOSTA TOSCANO, MARIA DEL ROCIO",*****8995**,ESP,120,80,0,280,"55,4943","7,27","8,2088","63,7031",1532,NO,
13,2390,"ADELL SANCHEZ, LUCIA",*****3492**,ESP,152,46,2,410,"81,2596","7,95","8,9766","90,2362",475,NO,
14,2134,"ADRA VARELA, ASIA",*****7316**,ESP,148,49,3,395,"78,2867","7,46","8,4233","86,7100",618,NO,
15,2984,"ADRIO BORREGUERO, ANA",*****9688**,ESP,82,71,47,175,"34,6839","7,30","8,2427","42,9266",2380,NO,
16,1937,"AFONSO PERALTA, SILVIA",*****5610**,ESP,134,66,0,336,"66,5932","6,47","7,3055","73,8987",1158,NO,
17,1044,"AGOTE URIA, OIHANE",*****3226**,ESP,146,52,2,386,"76,5029","8,24","9,3041","85,8070",653,NO,
18,1280,"AGUADO GONZALEZ, CRISTINA",*****8677**,ESP,127,64,9,317,"62,8275","7,98","9,0105","71,8380",1233,NO,
19,1154,"AGUADO PEREZ, DANIEL",*****1300**,ESP,122,78,0,288,"57,0799","6,33","7,1474","64,2273",1510,NO,
20,3297,"AGÜERO FERNÁNDEZ, SILVIA",*****2835**,ESP,135,64,1,341,"67,5842","8,23","9,2928","76,8770",1043,NO,
21,2683,"AGUILAR GARCIA, JESSICA",*****3066**,ESP,85,103,12,152,"30,1255","5,00","5,6456","35,7711",2674,NO,
22,1939,"AGUILAR GIL, MIRIAM",*****3877**,ESP,,,,,"0,0000","6,90","7,7910","7,7910",NO PR,NO,
23,563,"AGUILERA GONZALEZ, ESTHER",*****8177**,ESP,123,56,21,313,"62,0347","7,94","8,9653","71,0000",1263,NO,
24,3085,"AGUILERA GUIJO, LAURA",*****1634**,ESP,80,109,11,131,"25,9634","5,00","5,6456","31,6090",2836,NO,
25,483,"AGUILERA OLIVEIRA, MARINA",*****7424**,ESP,134,55,11,347,"68,7733","7,30","8,2427","77,0160",1036,NO,
26,1941,"AGUILERA PRADA, CARMEN MARIA",*****3424**,ESP,112,87,1,249,"49,3503","5,00","5,6456","54,9959",1881,SI,
27,2196,"AGUILERA RUIZ, EUGENIA MARIA",*****1228**,ESP,123,72,5,297,"58,8636","8,34","9,4170","68,2806",1360,NO,
28,3725,"AGUIRREBEITIA PALACIO, LEIRE",*****0063**,ESP,94,106,0,176,"34,8821","8,05","9,0895","43,9716",2343,NO,
29,47,"AGUIRREURRETA GALARRAGA, OIHANA",*****0936**,ESP,152,48,0,408,"80,8632","9,42","10,6364","91,4996",422,NO,
30,1780,"AGUT MARIN, PAULA",*****1546**,ESP,108,83,9,241,"47,7648","8,38","9,4621","57,2269",1799,NO,
31,2248,"AHMED AHMED, YASSIN",*****1989**,ESP,130,57,13,333,"65,9986","7,18","8,1072","74,1058",1145,NO,
32,364,"AHUFINGER PEREZ, ANGELA",*****6157**,ESP,,,,,"0,0000","6,86","7,7458","7,7458",NO PR,SI,
33,1802,"AHUMADA MARTINEZ, CRISTINA",*****6429**,ESP,107,89,4,232,"45,9810","7,06","7,9717","53,9527",1918,NO,
34,348,"AICART SEGURA, ALBA MARIA",*****1218**,ESP,142,56,2,370,"73,3318","8,87","10,0154","83,3472",761,NO,
35,3488,"AJJAN LOPEZ, HANAN",*****0249**,ESP,80,82,38,158,"31,3146","7,41","8,3669","39,6815",2514,NO,
36,684,"ALARCON IZQUIERDO, ELISA",*****1312**,ESP,95,105,0,180,"35,6749","6,91","7,8023","43,4772",2364,NO,
37,1643,"ALARCON MIRANDA, HELENA",*****9578**,ESP,89,101,10,166,"32,9002","7,02","7,9265","40,8267",2464,NO,
38,3242,"ALARCON SUANCES, CARMEN",*****5033**,ESP,116,51,33,297,"58,8636","8,86","10,0041","68,8677",1336,NO,
39,1174,"ALARCÓN TORRECILLAS, FRANCISCO",*****0386**,ESP,142,55,3,371,"73,5300","7,15","8,0733","81,6033",836,NO,
40,3187,"ALBA BERMEJO, MARIA INMACULADA",*****7715**,ESP,,,,,"0,0000","6,65","7,5087","7,5087",NO PR,SI,
41,3267,"ALBA ESPINOSA, CARLOS",*****1580**,ESP,,120,76,4,284,"56,2871","7,44","8,4007","64,6878",1492,NO
42,2365,"ALBALAT ALMENARA, ROCIO",*****6548**,ESP,100,84,16,216,"42,8099","7,28","8,2201","51,0300",2028,SI,
43,3399,"ALBERO BARCELO, INMACULADA",*****8042**,ESP,,,,,"0,0000","8,27","9,3379","9,3379",NO PR,NO,
44,2422,"ALBERO MENESES, ISABEL",*****6092**,ESP,141,54,5,369,"73,1336","7,68","8,6717","81,8053",827,NO,
45,165,"ALBERT FERRANDIS, MARIA TERESA",*****9276**,ESP,146,41,13,397,"78,6831","8,51","9,6089","88,2920",546,NO,
46,830,"ALCAIDE DELSO, PAULA",*****6943**,ESP,153,42,5,417,"82,6469","8,40","9,4847","92,1316",391,NO,
47,3765,"ALCAIDE GARCIA, AROA",*****9544**,ESP,58,138,4,36,"7,1349","5,00","5,6456","12,7805",ELIM,NO,
48,489,"ALCAIDE MARTINEZ, SONIA",*****6067**,ESP,117,83,0,268,"53,1160","6,90","7,7910","60,9070",1661,NO,
49,3168,"ALCAIDE ORTEGA, ANTONIA",*****9663**,ESP,,,,,"0,0000","7,18","8,1072","8,1072",NO PR,NO,
50,2352,"ALCALÁ MARTÍ, MARÍA",*****7079**,ESP,110,74,16,256,"50,7377","7,44","8,4007","59,1384",1719,NO,
51,3530,"ALCALA NOGUERAS, PALOMA",*****3788**,ESP,77,116,7,115,"22,7923","7,47","8,4346","31,2269",2849,NO,
52,3413,"ALCALA TRUJILLO, CARMEN",*****2818**,ESP,77,79,44,152,"30,1255","7,52","8,4911","38,6166",2558,NO,
53,2750,"ALCANTARA AGUADO, JULIA",*****5066**,ESP,112,82,6,254,"50,3413","7,17","8,0959","58,4372",1748,NO,
54,135,"ALCANTARA CASTRO, MIRIAM",*****7614**,ESP,108,76,16,248,"49,1521","6,58","7,4297","56,5818",1829,NO,
55,3092,"ALCARAZ ANDREU, SILVIA",*****6090**,ESP,120,67,13,293,"58,0709","5,00","5,6456","63,7165",1531,NO,
56,1220,"ALCARAZ GALAN, JOSE",*****3696**,ESP,157,24,19,447,"88,5928","8,05","9,0895","97,6823",181,NO,
57,3136,"ALCARRIA CORTES, ADRIANA",*****5687**,ESP,59,58,83,119,"23,5851","7,30","8,2427","31,8278",2832,NO,
58,1942,"ALEIXANDRE DURA, MARIA DOLORES",*****5115**,ESP,62,116,22,70,"13,8735","6,09","6,8764","20,7499",ELIM,NO,
59,2842,"ALEMAN OSES, ELENA",*****2428**,ESP,112,83,5,253,"50,1431","7,34","8,2878","58,4309",1750,NO,
60,2958,"ALEMAN URRUTIKOETXEA, IÑAKI",*****3179**,ESP,103,91,6,218,"43,2063","7,30","8,2427","51,4490",2007,NO,
61,1524,"ALEMANY SUAREZ, MARIA",*****3475**,ESP,100,77,23,223,"44,1973","6,94","7,8362","52,0335",1987,NO,
62,2176,"ALFARO DIAZ, MARIA JESUS",*****3079**,ESP,81,119,0,124,"24,5760","7,49","8,4572","33,0332",2769,NO,
63,2083,"ALFARO PUY, LUCIA",*****2225**,ESP,112,88,0,248,"49,1521","7,70","8,6943","57,8464",1769,NO,
64,2454,"ALFARO VILLAVICENCIO, SAYURI YANID",*****3149**,ESP,,,,,"0,0000","8,42","9,5073","9,5073",NO PR,NO,
65,2494,"ALFAYATE MARTIN, YAIZA",*****4565**,ESP,103,97,0,212,"42,0171","7,75","8,7508","50,7679",2041,NO,
66,3404,"ALGABA MESA, ANTONIO",*****1726**,ESP,,,,,"0,0000","6,17","6,9667","6,9667",NO PR,NO,
67,93,"ALGUACIL VILLATORO, MARIA",*****2640**,ESP,126,70,4,308,"61,0438","7,96","8,9879","70,0317",1290,NO,
68,2805,"ALIAGA MONTANÉ, GINA",*****8667**,ESP,167,32,1,469,"92,9530","8,01","9,0443","101,9973",71,NO,
69,385,"ALISES LOGROÑO, CARLOS VICENTE",*****9881**,ESP,149,48,3,399,"79,0794","8,12","9,1686","88,2480",550,NO,
70,3125,"ALLAS JORGE, SOFIA",*****7145**,ESP,134,60,6,342,"67,7824","7,71","8,7056","76,4880",1055,NO,
71,3318,"ALLER ARIAS, SANDRA",*****6280**,ESP,,,,,"0,0000","5,00","5,6456","5,6456",NO PR,NO,
72,2821,"ALLO MOURO, CRISTINA",*****6140**,ESP,81,99,20,144,"28,5399","6,96","7,8588","36,3987",2654,NO,
73,829,"ALMANSA RUIZ, ELISA",*****1877**,ESP,158,37,5,437,"86,6108","7,63","8,6153","95,2261",263,NO,
74,1012,"ALMARCEGUI MORANTE, NOELIA",*****5943**,ESP,80,118,2,122,"24,1796","6,33","7,1474","31,3270",2847,NO,
75,3216,"ALMARZA GARCIA, PATRICIA",*****4592**,ESP,54,103,43,59,"11,6934","7,02","7,9265","19,6199",ELIM,NO,
76,936,"ALMAZAN SANCHEZ, IRENE",*****6682**,ESP,106,88,6,230,"45,5846","7,25","8,1862","53,7708",1927,NO,
77,3444,"ALMEIDA SUAREZ, ALBA",*****4463**,ESP,70,79,51,131,"25,9634","8,30","9,3718","35,3352",2693,SI,
78,1687,"ALMENA TAMAYO, AROA",*****7163**,ESP,103,92,5,217,"43,0081","6,57","7,4184","50,4265",2052,NO,
79,868,"ALOMAR PASCUAL, CATALINA TERESA",*****5420**,ESP,80,69,51,171,"33,8912","7,12","8,0394","41,9306",2414,SI,
80,1288,"ALONSO ABALLE, SONIA",*****7096**,ESP,,,,,"0,0000","7,72","8,7169","8,7169",NO PR,SI,
81,387,"ALONSO ALAMA, LLUIS",*****0144**,ESP,140,60,0,360,"71,3499","8,39","9,4734","80,8233",868,NO,
82,2938,"ALONSO ALONSO, MONICA",*****7485**,ESP,,86,81,33,177,"35,0803","6,90","7,7910","42,8713",2385,NO
83,2238,"ALONSO ALVAREZ, MARTA",*****2402**,ESP,100,100,0,200,"39,6388","8,07","9,1121","48,7509",2133,NO,
84,11,"ALONSO BARRIENTOS, JUAN",*****0432**,ESP,176,24,0,504,"99,8898","8,05","9,0895","108,9793",6,NO,
85,2782,"ALONSO BOUZON, JUAN MANUEL",*****8889**,ESP,,,,,"0,0000","6,90","7,7910","7,7910",NO PR,NO,
86,3069,"ALONSO BUENO, JOSE ANTONIO",*****8988**,ESP,,,,,"0,0000","5,00","5,6456","5,6456",NO PR,NO,
87,1256,"ALONSO CIVIDANES, MONICA",*****9162**,ESP,167,31,2,470,"93,1512","9,41","10,6251","103,7763",41,NO,
88,633,"ALONSO DE QUINTANILLA CABRERA, MARÍA DEL CARMEN",*****9812**,ESP,134,60,6,342,"67,7824","5,00","5,6456","73,4280",1175,NO,
89,634,"ALONSO DEL RÍO, MARÍA",*****5542**,ESP,115,73,12,272,"53,9088","6,57","7,4184","61,3272",1642,SI,
90,2907,"ALONSO ETCHEVARNE, MARIA BELEN",*****1015**,ESP,152,44,4,412,"81,6560","8,06","9,1008","90,7568",456,NO,
91,3850,"ALONSO FERNANDEZ, JOSE ENRIQUE",*****3496**,ESP,91,78,31,195,"38,6478","6,96","7,8588","46,5066",2237,NO,
92,1102,"ALONSO FERNANDEZ, RAQUEL",*****5286**,ESP,,,,,"0,0000","7,95","8,9766","8,9766",NO PR,NO,
93,219,"ALONSO GARCIA, INMACULADA",*****1437**,ESP,96,104,0,184,"36,4677","7,24","8,1749","44,6426",2312,NO,
94,3811,"ALONSO GARRIDO, ALICIA",*****6955**,ESP,,,,,"0,0000","8,40","9,4847","9,4847",NO PR,NO,
95,1630,"ALONSO HORTAL, PATRICIA",*****3510**,ESP,52,68,80,88,"17,4410","6,45","7,2829","24,7239",ELIM,NO,
96,523,"ALONSO MARTIN, ANA ISABEL",*****0768**,ESP,90,100,10,170,"33,6930","6,40","7,2264","40,9194",2459,NO,
97,1872,"ALONSO MIÑON MUÑOZ, CARLOS",*****0679**,ESP,113,87,0,252,"49,9449","8,55","9,6541","59,5990",1703,NO,
98,2187,"ALONSO PASTRANA, CRISTINA",*****7901**,ESP,110,90,0,240,"47,5666","5,00","5,6456","53,2122",1944,NO,
99,3897,"ALONSO PEREZ, TANIA MARIA",*****7297**,ESP,,,,,"0,0000","5,00","5,6456","5,6456",NO PR,NO,
100,1885,"ALONSO PUELLES, ANALONSO",*****5124**,ESP,95,105,0,180,"35,6749","7,27","8,2088","43,8837",2349,NO,
101,2417,"ALONSO RAJA, MIGUEL ANGEL",*****5898**,ESP,152,48,0,408,"80,8632","7,50","8,4685","89,3317",512,NO,
102,2679,"ALONSO RIOLOBOS, VICTORIA",*****0718**,ESP,59,68,73,109,"21,6031","8,31","9,3831","30,9862",ELIM,NO,
103,429,"ALOU OBRADOR, MARÍA ISABEL",*****1176**,ESP,92,97,11,179,"35,4767","7,43","8,3894","43,8661",2350,NO,
104,623,"ALVAREZ ALVAREZ, ANA",*****2018**,ESP,72,75,53,141,"27,9453","8,14","9,1911","37,1364",2624,NO,
105,2268,"ALVAREZ ARIAS, ELENA",*****4081**,ESP,127,60,13,321,"63,6203","7,52","8,4911","72,1114",1223,NO,
106,793,"ALVAREZ BALEA, MIGUEL ANGEL",*****9817**,ESP,140,56,4,364,"72,1426","7,58","8,5588","80,7014",873,NO,
107,3221,"ALVAREZ BALLESTAR, MARINA",*****5122**,ESP,90,110,0,160,"31,7110","5,00","5,6456","37,3566",2614,NO,
108,333,"ALVAREZ BEJARANO, CARLA",*****2941**,ESP,45,55,100,80,"15,8555","7,09","8,0055","23,8610",ELIM,NO,
109,2874,"ALVAREZ CADENAS, EVANGELINA",*****6950**,ESP,68,132,0,72,"14,2699","6,82","7,7007","21,9706",ELIM,NO,
110,457,"ALVAREZ CARDOSO, CANDELA",*****7328**,ESP,126,67,7,311,"61,6384","7,63","8,6153","70,2537",1286,NO,
111,1757,"ÁLVAREZ DÍAZ, ZAIRA",*****0623**,ESP,76,124,0,104,"20,6121","6,57","7,4184","28,0305",ELIM,NO,
112,3313,"ALVAREZ FERNANDEZ, NEREA",*****6216**,ESP,123,59,18,310,"61,4402","7,32","8,2652","69,7054",1307,NO,
113,601,"ALVAREZ GAVITO, LUCIA",*****7703**,ESP,29,33,138,54,"10,7024","7,11","8,0281","18,7305",ELIM,NO,
114,2704,"ALVAREZ GOLPE, CRISTINA",*****5102**,ESP,53,32,115,127,"25,1706","7,48","8,4459","33,6165",2751,NO,
115,3564,"ALVAREZ GONZALEZ, MARIA DEL NARANCO",*****4336**,ESP,169,29,2,478,"94,7368","7,82","8,8298","103,5666",44,NO,
116,2636,"ALVAREZ HERNANDEZ, NATIVIDAD JUDIT",*****9702**,ESP,,,,,"0,0000","5,00","5,6456","5,6456",NO PR,NO,
117,2677,"ALVAREZ HERRERO, BORJA",*****1802**,ESP,114,76,10,266,"52,7196","7,41","8,3669","61,0865",1652,NO,
118,3697,"ALVAREZ JIMENEZ, ANDREA",*****3249**,ESP,84,116,0,136,"26,9544","8,38","9,4621","36,4165",2653,NO,
119,2091,"ALVAREZ LIGERO, VANESA",*****4651**,ESP,,,,,"0,0000","8,12","9,1686","9,1686",NO PR,NO,
120,1426,"ALVAREZ MONTANER, LAIA",*****6132**,ESP,,,,,"0,0000","7,70","8,6943","8,6943",NO PR,NO,
121,80,"ÁLVAREZ MONTERO, PAULA LUZ",*****5414**,ESP,74,93,33,129,"25,5670","7,37","8,3217","33,8887",2737,NO,
122,809,"ALVAREZ NAVARRO, LAURA",*****0380**,ESP,130,57,13,333,"65,9986","7,97","8,9992","74,9978",1109,NO,
123,3644,"ALVAREZ OURENS, MONICA SARA",*****6281**,ESP,,,,,,"0,0000","5,00","5,6456","5,6456",NO PR,NO
124,1609,"ALVAREZ PEITEADO, VIOLETA",*****4104**,ESP,118,79,3,275,"54,5034","7,02","7,9265","62,4299",1588,NO,
125,3648,"ALVAREZ PEREZ, RAQUEL",*****3981**,ESP,128,69,3,315,"62,4311","6,58","7,4297","69,8608",1302,NO,
126,3015,"ALVAREZ RIVEIRO, VANESA",*****6885**,ESP,89,108,3,159,"31,5128","7,91","8,9314","40,4442",2485,NO,
127,696,"ALVAREZ RODRIGUEZ, GLORIA",*****0310**,ESP,118,76,6,278,"55,0979","7,01","7,9152","63,0131",1563,NO,
128,1341,"ALVAREZ SALVADOR, CRISTINA",*****2578**,ESP,,,,,"0,0000","5,00","5,6456","5,6456",NO PR,SI,
129,612,"ALVAREZ UREÑA, NEREA",*****1444**,ESP,135,65,0,340,"67,3860","8,24","9,3041","76,6901",1047,NO,
130,2729,"ALVAREZ URUEÑA, FATIMA ISABEL",*****1277**,ESP,74,73,53,149,"29,5309","6,52","7,3619","36,8928",2630,NO,
131,1775,"ALVAREZ VIEIRA, XURXO",*****4670**,ESP,137,60,3,351,"69,5661","8,60","9,7105","79,2766",942,NO,
132,3409,"ALVARO CAZORLA, ANDREA",*****9658**,ESP,145,50,5,385,"76,3047","7,98","9,0105","85,3152",682,NO,
133,2976,"ALVARO GUTIERREZ, MARIO",*****5673**,ESP,,,,,"0,0000","7,60","8,5814","8,5814",NO PR,NO,
134,1585,"AMADOR GARCIA, MARIA",*****5777**,ESP,133,42,25,357,"70,7553","6,99","7,8926","78,6479",962,NO,
135,3074,"AMADOR GOMEZ, MARIA ISABEL",*****4241**,ESP,,,,,"0,0000","7,07","7,9830","7,9830",NO PR,NO,
136,3333,"AMIGO BUENO, AIDA",*****9218**,ESP,154,46,0,416,"82,4487","7,81","8,8185","91,2672",434,NO,
137,3712,"AMIGO GODON, LAURA",*****4893**,ESP,,,,,"0,0000","5,00","5,6456","5,6456",NO PR,NO,
138,1591,"AMIL SANCHEZ-MIGUEL, ERIKA",*****5254**,ESP,51,116,33,37,"7,3331","5,00","5,6456","12,9787",ELIM,NO,
139,3773,"AMORES MATA, CRISTIAN",*****1497**,ESP,67,87,46,114,"22,5941","7,60","8,5814","31,1755",2854,NO,
140,235,"ANASTACIO MACIAS, MARIA JOSE",*****4816**,ESP,,,,,"0,0000","6,71","7,5765","7,5765",NO PR,NO,
141,2919,"ANDRADA OLIVA, ANNA",*****2855**,ESP,65,77,58,118,"23,3869","6,67","7,5313","30,9182",2859,NO,
142,907,"ANDREO SERRANO, JUAN JOSE",*****2299**,ESP,105,71,24,244,"48,3593","8,07","9,1121","57,4714",1786,NO,
143,2040,"ANDRÉS GUTIERREZ, CLAUDIA",*****6866**,ESP,168,28,4,476,"94,3404","8,45","9,5412","103,8816",40,NO,
144,3043,"ANDRES POZA, MARIA",*****4539**,ESP,97,94,9,197,"39,0442","6,53","7,3732","46,4174",2241,NO,
145,2639,"ANDRES SENDRA, JESSICA",*****8278**,ESP,,,,,"0,0000","5,00","5,6456","5,6456",NO PR,NO,
146,1331,"ANDREU BORREGO, MARINA",*****3451**,ESP,139,60,1,357,"70,7553","8,10","9,1460","79,9013",906,NO,
147,703,"ANDREU PEREZ, MARINA",*****0111**,ESP,92,101,7,175,"34,6839","7,65","8,6379","43,3218",2369,NO,
148,467,"ANEAS ROMAN, ALICIA",*****1559**,ESP,109,85,6,242,"47,9630","8,43","9,5186","57,4816",1785,NO,
149,3132,"ANGELES DEL ROSARIO, NIEVES IVONNE",*****3970**,ESP,143,48,9,381,"75,5120","6,93","7,8249","83,3369",763,NO,

In [1]:
import pandas as pd

# Lee las primeras 150 líneas del archivo de texto
with open('archivo_limpio.txt', 'r', encoding='utf-8') as f:
    lines = [next(f).strip() for _ in range(150)]

# Divide cada línea en sus campos usando el separador "|" y maneja campos vacíos
data = [line.split('|') for line in lines]

# Asegúrate de que cada fila tenga la misma cantidad de campos
max_fields = max(len(row) for row in data)
for row in data:
    if len(row) < max_fields:
        row.extend([''] * (max_fields - len(row)))

# Crea un DataFrame con los datos y especifica los nombres de las columnas
column_names = ["N.EXP", "APELLIDOS Y NOMBRE", "DNI", "PAIS", "SIT", "VAL.", "ERR.", "NC.", "VAL", "PUNTUACION", "BAREMO", "PUNTUACION", "PUNT. TOTAL", "Nº ORDEN", "T.", "extra"]
df = pd.DataFrame(data, columns=column_names)

# Eliminar la columna extra si existe
if 'extra' in df.columns:
    df.drop('extra', axis=1, inplace=True)

df

,N.EXP,APELLIDOS Y NOMBRE,DNI,PAIS,SIT,VAL.,ERR.,NC.,VAL,PUNTUACION,BAREMO,PUNTUACION,PUNT. TOTAL,Nº ORDEN,T.
0,3535,"ABAD GARCIA, GUACIMARA",*****6148**,ESP,,,,,,"0,0000","5,00","5,6456","5,6456",NO PR,NO
1,787,"ABADIA DOMINGO, SARA",*****6372**,ESP,122,70,8,296,"58,6654","7,51","8,4798","67,1452",1400,NO,
2,2933,"ABADIA MARTINEZ, ATENEA",*****7467**,ESP,104,94,2,218,"43,2063","7,06","7,9717","51,1780",2019,NO,
3,1103,"ABANCES UTRILLA, ELENA",*****2239**,ESP,134,48,18,354,"70,1607","8,28","9,3492","79,5099",927,NO,
4,566,"ABRIL MUÑOZ, SARA",*****4090**,ESP,,,,,"0,0000","6,96","7,8588","7,8588",NO PR,NO,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,2639,"ANDRES SENDRA, JESSICA",*****8278**,ESP,,,,,"0,0000","5,00","5,6456","5,6456",NO PR,NO,
146,1331,"ANDREU BORREGO, MARINA",*****3451**,ESP,139,60,1,357,"70,7553","8,10","9,1460","79,9013",906,NO,
147,703,"ANDREU PEREZ, MARINA",*****0111**,ESP,92,101,7,175,"34,6839","7,65","8,6379","43,3218",2369,NO,
148,467,"ANEAS ROMAN, ALICIA",*****1559**,ESP,109,85,6,242,"47,9630","8,43","9,5186","57,4816",1785,NO,
149,3132,"ANGELES DEL ROSARIO, NIEVES IVONNE",*****3970**,ESP,143,48,9,381,"75,5120","6,93","7,8249","83,3369",763,NO,

In [2]:
# Lista de columnas que deseas eliminar
columnas_a_eliminar = ['APELLIDOS Y NOMBRE', 'DNI','PAIS','SIT']

# Eliminar las columnas especificadas
df_limpio = df.drop(columns=columnas_a_eliminar)
df_limpio

,N.EXP,VAL.,ERR.,NC.,VAL,PUNTUACION,BAREMO,PUNTUACION,PUNT. TOTAL,Nº ORDEN,T.
0,3535,,,,,"0,0000","5,00","5,6456","5,6456",NO PR,NO
1,787,70,8,296,"58,6654","7,51","8,4798","67,1452",1400,NO,
2,2933,94,2,218,"43,2063","7,06","7,9717","51,1780",2019,NO,
3,1103,48,18,354,"70,1607","8,28","9,3492","79,5099",927,NO,
4,566,,,,"0,0000","6,96","7,8588","7,8588",NO PR,NO,
...,...,...,...,...,...,...,...,...,...,...,...
145,2639,,,,"0,0000","5,00","5,6456","5,6456",NO PR,NO,
146,1331,60,1,357,"70,7553","8,10","9,1460","79,9013",906,NO,
147,703,101,7,175,"34,6839","7,65","8,6379","43,3218",2369,NO,
148,467,85,6,242,"47,9630","8,43","9,5186","57,4816",1785,NO,
149,3132,48,9,381,"75,5120","6,93","7,8249","83,3369",763,NO,

In [3]:
import pandas as pd
from natsort import natsorted

# Ordenar el DataFrame por la columna 'A' alfanuméricamente
df_ordenado = df_limpio.iloc[natsorted(df.index, key=lambda x: df.loc[x, 'Nº ORDEN'])]
df_ordenado

,N.EXP,VAL.,ERR.,NC.,VAL,PUNTUACION,BAREMO,PUNTUACION,PUNT. TOTAL,Nº ORDEN,T.
41,3267,120,76,4,284,"56,2871","7,44","8,4007","64,6878",1492,NO
82,2938,86,81,33,177,"35,0803","6,90","7,7910","42,8713",2385,NO
1,787,70,8,296,"58,6654","7,51","8,4798","67,1452",1400,NO,
2,2933,94,2,218,"43,2063","7,06","7,9717","51,1780",2019,NO,
3,1103,48,18,354,"70,1607","8,28","9,3492","79,5099",927,NO,
...,...,...,...,...,...,...,...,...,...,...,...
77,3444,79,51,131,"25,9634","8,30","9,3718","35,3352",2693,SI,
79,868,69,51,171,"33,8912","7,12","8,0394","41,9306",2414,SI,
80,1288,,,,"0,0000","7,72","8,7169","8,7169",NO PR,SI,
89,634,73,12,272,"53,9088","6,57","7,4184","61,3272",1642,SI,
128,1341,,,,"0,0000","5,00","5,6456","5,6456",NO PR,SI,

In [ ]:
df_con = pd.read_csv("archivo_limpio.txt", sep="|", 
                 names=["N.EXP","APELLIDOS Y NOMBRE","DNI","PAIS","SIT","VAL.","ERR.","NC.","VAL","PUNTUACION","BAREMO","PUNTUACION2","PUNT. TOTAL","Nº ORDEN","T."],
                 na_values=[''])

# Mostrar el DataFrame
df_con

In [ ]:
import pandas as pd
from natsort import natsorted

# Ordenar el DataFrame por la columna 'A' alfanuméricamente
df_ordenado = df_con.iloc[natsorted(df.index, key=lambda x: df.loc[x, 'Nº ORDEN'])]
df_ordenado